
// 
// Colors
// 

// Pre-state grayscale colors used in other variables
$gray-200: #e9ecef;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-800: #343a40;

// Primary
$pale-blue: rgb(224, 232, 255);
$bright-blue: rgb(56, 41, 224);

//Neutral
$very-pale-blue: rgb(245, 247, 255);
$desaturated-blue: rgb(114, 128, 167);
$dark-blue: rgb(31, 47, 86);

// 
// Fonts
// 

$font-family-base: 'Red Hat Display', serif;;

$h1-font-size: 3rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1rem;
