.navbar {
	
	&__logo {
		height: 8rem;
		width: 18rem;
		padding: 3rem 3rem;
	}

	&__menu-bar {
		overflow-x: hidden;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;

			li {
				a {
					text-align: center;
					padding: 1.4rem 1.6rem;
					text-transform: uppercase;
					text-decoration: none;
				}
			}

		}
	}

}

	// For mobile devices
@media screen and (max-width: 1080px) {
	.navbar {
		&__logo {
			padding: 3.8rem 3rem;
		}
		&__nav-toggle {
			position: absolute;
			top: -.8rem;
			right: 1rem;
			
			&--checkbox {
				position: relative;
				top: 3.7rem;
				left: 0;
				z-index: 2;
				width: 3.4rem; // Width & height of menu button + padding
				height: 3.4rem;
				margin: 0;
				cursor: pointer;
				opacity: 0;
			}
			
			&--menu-button {
				height: 3.2rem;
				width: 3.2rem;
				background: #FFFFFF 0% 0% no-repeat padding-box;
				border: 2px solid #2C2830;
				
				.navbar_opener {
					position: relative;
					top: 1.2rem;
					left: .6rem;
					flex: none;
					width: 1.6rem;
					height: 1.5px;
					background: #2C2830 0% 0% no-repeat padding-box;
					transition: all 250ms ease-in-out;
		
					&:before,
					&:after {
						content: '';
						position: absolute;
						z-index: 1;
						width: 1.6rem;
						height: 1.5px;
						background: inherit;
					}
		
					&:before {
						top: -.5rem;
					}
		
					&:after {
						top: .5rem;
					}
				}
			}
		}
	
		&__menu-bar {
			height: 0;
			width: 100%;
			border: 1px solid #96A9C6;
			background-color: $very-dark-violete;
			background-image: url('/images/bg-pattern-mobile-nav.svg');
			background-repeat: no-repeat;
			background-position-y: 100%;
			transition: height 200ms ease-in-out;

			ul {
				padding: 0;
				margin-block-start: 0;
				margin-block-end: 0;

				li {
					padding: 2.2rem .8rem;
					text-align: center;
					font-size: 2rem;
					color: $white;
					a {
						color: $white;
					}

					&:hover {
						border: 2px solid $white;
					}
				}
			}
		}
		// Menu toggler animation
		&__nav-toggle {

			&--menu-button.open {
				.navbar_opener {
					transform: rotate(135deg);

					&::before, &::after {
						top: 0;
						transform: rotate(90deg);
					}
				}
			
				&__nav-toggle:checked:hover
					+ .navbar__menu-button
					.navbar_opener {
					transform: rotate(135deg);
				}
			}
		}


		#main-menu.open {
			height: 59rem;
			transition: height 250ms ease-in-out 250ms;

			.menu__list {
				transform: scale(1, 1);
			}

			.menu__link {
				opacity: 1;
				transition: opacity 250ms ease-in-out 250ms;
			}
		}
	}
}

// For mobile devices
@media screen and (min-width: 1081px) {
	.navbar {

		display: flex;
		justify-content: space-between;
		align-items: center;

		&__logo {
			margin-left: 12.8rem;
		}
		&__nav-toggle {
			display: none;
		}

		&__menu-bar {
			justify-self: flex-end;
			margin-right: 4rem;
			
			ul {
				display: flex;
				height: 4rem;

				li {
					display: inline;
					padding: 1.25rem 0;
					
					a {
						color: #2C2830;
						font-size: 1.3rem;
						text-align: center;
						letter-spacing: 1.5px;
						text-decoration: none;

							&:active {
								color: $white;
								background-color:  #2C2830;
							}
						}

				}
			} 
		}
	}
}
