.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(206, 197, 197);
  padding: em(20);
  &__attribution { font-size: 11px; text-align: center; }
  &__attribution a { color: hsl(228, 45%, 44%); }

  &__title {
    color: white;
    font-weight: 900;
  }
  &__p {
    color: white;
  }
}
