$hero-height-desktop: 60rem;
$hero-height-mobile: 60rem;

.hero-section {
	height: $hero-height-desktop;
	border-bottom-left-radius: 10rem;
	overflow: hidden;
	background-image: url('../../images/bg-pattern-intro.svg'),
		linear-gradient(
			135deg,
			hsla(355, 100%, 74%, 1) 0%,
			hsla(356, 100%, 66%, 1) 100%
		);
		.nav-bar {
			position: relative;
			display: flex;
			top: 10%;

			&__logo {
				img {
					max-width: 100%;
					height: auto;
				}
			}

			&__nav-toggle {
				position: absolute;
				top: 0;
				right: 4rem;
				z-index: 2;
				width: 5.2rem; // Width & height of menu button + padding
				height: 3.4rem;
				margin: 0;
				cursor: pointer;
				opacity: 0;
			}

			&__menu-button {
				position: absolute;
				top: 0;
				right: 4rem;
				z-index: 1;
				width: 3.2rem;
				height: 1.8rem;
				padding: 1rem;
				background: var(--color-blue-dk);
				display: flex;
				align-items: center;
				justify-content: center;

				.navbar_opener {
					position: relative;
					flex: none;
					width: 100%;
					height: 2px;
					background: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: all 0.4s ease;

					&:before,
					&:after {
						content: '';
						position: absolute;
						z-index: 1;
						top: -1rem;
						width: 100%;
						height: 2px;
						background: inherit;
					}

					&::before {
						top: 1rem;
					}
				}
			}

			&__menu-bar {
				margin: auto;
				overflow-x: hidden;
				background-color: $white;

				&--main {
					ul {
						list-style-type: none;
						margin: 0;
						padding: 0;
						overflow: hidden;

						li {
							a,
							.dropbtn {
								text-align: center;
								padding: 1.4rem 1.6rem;
								text-decoration: none;
							}
						}

						li.dropdown {
							display: block;

							.dropdown-content {
								display: none;
								font-weight: 400;
								border-radius: 5px;
								transition: opacity 1s ease-in-out;
								background-color: hsla(237, 17%, 21%, 8%);
								box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
								z-index: 1;

								a {
									color: black;
									padding: 12px 16px;
									text-decoration: none;
									display: block;

									&:hover {
										font-weight: 900;
										text-decoration: underline;
									}
								}
							}

							.dropdown-content.active {
								opacity: 1;
								transition: opacity 250ms ease-in-out 250ms;

							}
						}

					}
				}
			}
		}

		.button-group {
			font-family: $font-family-menu;
			list-style-type: none;
			overflow: hidden;
		
			li {
				width: 13.7rem;
		
				a {
					display: inline-block;
					text-align: center;
					padding: 1.4rem 1.6rem;
					color: $white;
					text-decoration: none;
				}
			}
			li.active {
				border-radius: 2.8rem;
				background-color: $white;
		
				a {
					color: $light-red;
				}
			}
		}
		.cta {
			position: relative;
			margin-top: 12rem;
			width: 100%;
			color: $white;
		
			&__tagline {
				font-family: $font-family-base;
				color: $white;
				text-align: center;
				overflow-wrap: break-word;
				
				&--main {
					line-height: 1.25;
					margin: 2rem 0;
				}
		
				&--sub {
					font-size: 1.8rem;
				}
			}
		
			&__buttons {
				margin-top: 5rem;
				display: flex;
				justify-content: center;
			}
		}
	}

	// For mobile devices
	@media screen and (max-width: 955px) {
		.hero-section {
			background-position: -38rem -32rem, top left;
			background-repeat: no-repeat;
			background-size: 140rem;		

			.nav-bar {
				margin: 0 10%;
				width: 95%;
	
				&__logo {
					width: 8rem;
				}
	
				&__menu-bar {
					position: fixed;
					top: 12.5rem;
					right: 7.5%;
					width: 85%;
					max-width: 40rem;
					border-radius: 0.5rem;
					opacity: 0;
					box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
					z-index: 4;
	
					&--main {
						margin-top: 1rem;

						ul {
							display: block;
	
							li {
								a,
								.dropbtn {
									display: block;
									color: $very-light-blue;
								}
							}
	
							li.dropdown {
								display: block;
	
								.dropdown-content {
									width: 80%;
									margin: 8% 10%;
									background-color: hsla(237, 17%, 21%, 8%);
	
									a {
										text-align: center;
	
									}
								}
	
								a {
									&:after {
										content: '\f107';
										font-family: FontAwesome;
										color: $very-light-red;
										padding-left: 0.5rem;
										padding-top: 0rem;
									}
								}
								.dropdown-content.active {
	
									a {
										&:after {
											content: '';
										}
									}
								}
							}
	
							li.dropdown.active {
								a {
									&:after {
										content: '\f106';
									}
								}
							}
						}
					}
	
					.horizontal-divider {
						max-width: 38rem;
						margin: 5%;
						padding: 0 2.4rem;
						border-top: 1px solid $gray-200;
					}
					&--login-signup {
						margin-bottom: 3rem;
	
						.button-group {
							li {
								a {
									color: $very-light-blue;
								}
							}
							li.active {
								background-color: $very-light-red;
	
								a {
									color: $white;
								}
							}
						}
					}
				}
				// Menu toggler animation
				.nav-bar__nav-toggle:checked + .nav-bar__menu-button .navbar_opener {
					transform: rotate(135deg);
				}
	
				.nav-bar__nav-toggle:checked
					+ .nav-bar__menu-button
					.navbar_opener::before,
				.nav-bar__nav-toggle:checked
					+ .nav-bar__menu-button
					.navbar_opener::after {
					top: 0;
					transform: rotate(90deg);
				}
	
				.nav-bar__nav-toggle:checked:hover
					+ .nav-bar__menu-button
					.navbar_opener {
					transform: rotate(135deg);
				}
	
				.nav-bar__nav-toggle:checked ~ #main-menu {
					opacity: 1;
					transition: opacity 250ms ease-in-out 250ms;
				}
	
				.nav-bar__nav-toggle:checked ~ #main-menu .menu__list {
					transform: scale(1, 1);
				}
	
				.nav-bar__nav-toggle:checked ~ #main-menu .menu__link {
					opacity: 1;
					transition: opacity 250ms ease-in-out 250ms;
				}
			}
			.button-group {
				display: flex;
				padding: 0;
				text-align: center;
	
				li {
					margin: 0 1rem;
					border: 1px solid $white;
					border-radius: 2.8rem;
	
				}
			}
			.cta {
				margin-top: 12rem;
	
				&__tagline {
					padding: 0 2.3rem;
					
					&--main {
						font-size: 3.6rem;
					}
	
					&--sub {
						font-size: 1.8rem;
					}
				}
	
			}
		}
	}

	// For tablets and desktoops
	@media (min-width: 956px) {
		.hero-section {
			background-position: -50.5rem -140rem, top left;
			background-repeat: no-repeat;		
			background-size: 332rem;

			.nav-bar {
				margin-left: 10%;
				width: 100%;
	
				&__logo {
					width: 10rem;
				}
	
				&__nav-toggle,
				&__menu-button {
					display: none;
				}
	
				&__menu-bar {
					display: flex;
					padding-left: 6.5rem;
					font-family: $font-family-menu;
					text-decoration: none;
					width: 80%;
					min-width: 70rem;
					// justify-content: flex-end;
	
					&--main {
						width: 35rem;
	
						ul {
							display: flex;
							grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
	
							li {
								float: left;
	
								a,
								.dropbtn {
									display: inline-block;
									color: white;
								}
							}
	
							li.dropdown {
								display: inline-block;
	
								.dropdown-content {
									position: absolute;
									background-color: #f9f9f9;
									font-weight: 400;
									min-width: 160px;
	
									a {
										text-align: left;
									}
	
								}
	
							}
	
							li:after {
								content: '\f107';
								font-family: FontAwesome;
								color: white;
								float: right;
								margin-left: 0.2rem;
								padding-top: 1.5rem;
							}
	
							li.active:after {
								content: '\f106';
							}
	
							li.main-item:hover a,
							li.dropdown:hover a.dropbtn {
								font-weight: 900;
								// text-decoration: underline;
							}
						}
					}
					&--login-signup {
						min-width: 28rem;
						padding-right: 16rem;
						flex-grow: 1;
						display: flex;
						justify-content: flex-end;
					}
				}
			}
			.button-group {
				margin: 0;
	
				li {
					float: left;
					text-align: center;
	
				}
			}
			.cta {
				margin-top: 20rem;
	
				&__tagline {
	
					&--main {
						font-size: 6.4rem;
					}
	
					&--sub {
						font-size: 2rem;
					}
				}
	
			}
		}
	}
