
// 
// Colors
// 

// Pre-state grayscale colors used in other variables
$white: #ffffff;
$gray-200: #e9ecef;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-800: #343a40;

// Primary
$dark-violet: hsl(256, 26%, 20%);
$greyish-blue: hsl(216, 30%, 68%);

//Neutral
$very-dark-violete: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

// 
// Fonts
// 

$font-family-base: 'Karla', sans-serif;
$font-family-headings: 'DM Serif Display', serif;

$h1-font-desktop-size: 6.4rem;
$h2-font-desktop-size: 3.8rem;
$h3-font-desktop-size: 2.8rem;

$h1-font-mobile-size: 3.8rem;
$h2-font-mobile-size: 2.8rem;
$h3-font-mobile-size: 1.8rem;

$footer-font-size: 1.5rem;
